header {
    background-color: lightpink;
}

h1 {
    float: left;
  text-align: center;
  padding-left: 30px;
  text-decoration: none;
} 

.right {
    overflow: hidden;
}

.menu {
    float: right;
}

li {
    display: inline;
    padding: 10px;
}

article {
    background-color: lightskyblue;
    padding: 40px;
}

.container {
    display: flex;
}

.profile {
    float: right;
}

.profile {
   float: right;
} 

section {
    background-color: lightslategray;
}

footer {
    background-color: lightyellow;
}
