header {
    background-color: lightpink;
    display: flex;
    justify-content: space-around;
}

/*.left {
    align-self: flex-start;
}*/

h1 {
    float: left;
  text-align: center;
  padding-left: 30px;
  text-decoration: none;
} 

.right {
    overflow: hidden;
}

li {
    display: inline;
    padding: 10px;
}

.container {
    display: flex;
    background-color: lightskyblue;
    padding: 40px;
    justify-content: space-around;
    width: 100%;
}

.imagen {

}

section {
    background-color: lightslategray;
}

footer {
    background-color: lightyellow;
}
